body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #2e2f42;
}
.logo-link {
  color: #2e2f42;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
.web-logo {
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
.navigation {
  color: #2e2f42;
  font-weight: 500;
}
.contact-info {
  color: #434455;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.header {
  color: #ffffff;
  background-color: #2e2f42;
}
.button {
  color: #ffffff;
  background: #4d5ae5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
